.alue {
    display: flex;
    justify-content:center; /* Adjust as per your requirement */
}

.kortti-container {
    margin: 10px; /* Add margin for spacing between kortti elements */
}

.kortti {
    width: 300px;
    height: 300px;
    border: solid 3px;
    display: flex;
}

.kuvavasenkortti {
    width: 100px;
    height: 290px;
    background-image: url(joki.jpg);
    margin: 5px;
    border-top-left-radius: 5px;
}

.teksti {
    width: 200px;
    margin: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.otsikko {
    margin: 10px;
    color: lightslategray;
    font-size: large;
}

.infotext {
    margin: 5px;
}

.linkki {
    margin-top: 50px;
    margin-left: 5px;
}
